@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/* #NAV BOX */
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: gray;
}

li,
a,
button {
  font-family: "Open+Sans", sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: pink;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

/* #LOGO PIC */
.logo-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/* #LINE */
.striped-line {
  border: 40px star black;
  width: 50%;
  /* margin-top: 0%; */
  /* margin-bottom: 150%; */
}

/* #BIG PIC */
.big-pic {
  display: block;
  margin-left: 570px;
  margin-right: auto;
  width: 55%;
  margin-bottom: 800px;
}

/* #QUESTIONS IN THE MIDDLE */
.what {
  text-align: center;
  padding: 14px 20px;
  display: inline-block;
  font-size: 45px;
  right: -1060px;

  /* text-align: center;
  padding: 14px 20px;
  display: inline-block;
  margin-left: 1060px;
  font-size: 45px; */
}

.why {
  /* text-align: center;
  text-indent: 380px; */
  /* float: left; */
  text-align: center;
  padding: 14px 20px;
  display: inline-block;
  font-size: 45px;
  /* margin-left: 90px; */
}

.how {
  /* text-align: right;
  text-indent: 730px; */
  /* float: left; */
  text-align: center;
  padding: 14px 20px;
  display: inline-block;
  font-size: 45px;
  /* margin-left: 90px; */
}

/* #PICTURES */

.all-pics {
  display: block;
  margin-left: 590px;
  margin-right: auto;
  width: 55%;
  /* margin-bottom: 2px; */
  margin-top: -150px;
}

.first-pic {
  display: block;
  margin-left: 10px;
  margin-right: auto;
  width: 30%;
}

.second-pic {
  display: block;
  margin-left: 580px;
  margin-right: auto;
  width: 30%;
  margin-bottom: 500px;
}

.third-pic {
  display: block;
  margin-left: 480px;
  margin-right: auto;
  width: 30%;
  margin-bottom: 800px;
}
