@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

a,
button {
  font-family: "Open+Sans", sans-serif;
  font-weight: 500px;
  font-size: 30px;
  color: black;
  text-decoration: none;
  float: right;
  margin-right: 55px;
}

.nav {
  height: 50px;
  padding-right: -70px;
  padding-left: -70px;
  /* background-color: rgba(119, 136, 153); */
}

.nav_links {
  list-style: none;
}

/* #puts spacing in between the links */
.nav_links li {
  display: inline-block;
  padding: 30px 10%;
}

/* #Makes links move */
.nav_links li a {
  transition: all 0s ease 0s;
}

/* #Changes hover color */
a:hover {
  color: pink;
}

button {
  padding: 9px 25px;
  /* background-color: rgba(119, 136, 153); */
  border-radius: 89px;
  transition: all 0s ease 0s;
  cursor: pointer;
  margin-right: 870px;
}

button:hover {
  background-color: pink;
}

/* # HOME LOGO PIC */
.home-logo-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/* #LOGO PIC */
.logo-pic {
  display: block;
  margin-left: 1px;
  /* margin-right: auto; */
  width: 10%;
}

/* #LINE */
.striped-line {
  border: 40px star black;
  width: 50%;
  /* margin-top: 0%; */
  /* margin-bottom: 150%; */
}

/* #BIG PIC */
.big-pic {
  display: block;
  margin-left: 570px;
  margin-right: auto;
  width: 55%;
  margin-bottom: 800px;
}

/* #PICTURES */
.all-pics {
  display: block;
  margin-left: 590px;
  margin-right: auto;
  width: 55%;
  /* margin-bottom: 2px; */
  margin-top: -150px;
}

.heading {
  text-align: left;
  color: black;
  font-family: "Open+Sans", sans-serif;
  font-weight: 500px;
  font-size: 98px;
  /* position: relative;
  left: 10px */
}

.subtitle {
  text-align: left;
  color: black;
  font-family: "Open+Sans", sans-serif;
  font-weight: 500px;
  font-size: 55px;
}

.body {
  text-align: left;
  color: black;
  font-family: "Open+Sans", sans-serif;
  font-weight: 500px;
  font-size: 35px;
}

.s2d-heading {
  text-align: center;
  color: black;
  font-family: "Open+Sans", sans-serif;
  font-weight: 500px;
  font-size: 55px;
}

.s2d-big-pic {
  margin-left: 390px;
  margin-right: auto;
  width: 55%;
  /* margin-bottom: 2px; */
  /* margin-top: -150px; */
}

.contact-name {
  size: 20px;
}
/* #EXTRA CODE */

/* .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
} */

/* #Hover for logo pic */
/* .logo {
  cursor: pointer;
}

/* #Cursor on the logo  */
/* .logo-pic {
  cursor: pointer;
} */
*/

/* #NAV BOX */
/* header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: gray;
} */

/* .first-pic {
  display: block;
  margin-left: 10px;
  margin-right: auto;
  width: 30%;
}

.second-pic {
  display: block;
  margin-left: 580px;
  margin-right: auto;
  width: 30%;
  margin-bottom: 500px;
}

.third-pic {
  display: block;
  margin-left: 480px;
  margin-right: auto;
  width: 30%;
  margin-bottom: 800px;
} */

/* #QUESTIONS IN THE MIDDLE */
/* .what {
  text-align: center;
  padding: 14px 20px;
  display: inline-block;
  font-size: 45px;
  right: -1060px;

  /* text-align: center;
  padding: 14px 20px;
  display: inline-block;
  margin-left: 1060px;
  font-size: 45px;
} */

.why {
  /* text-align: center;
  text-indent: 380px; */
  /* float: left; */
  text-align: center;
  padding: 14px 20px;
  display: inline-block;
  font-size: 45px;
  /* margin-left: 90px; */
}

/* .how {
  /* text-align: right;
  text-indent: 730px; */
/* float: left; */
/* text-align: center; */
/* padding: 14px 20px; */
/* display: inline-block; */
/* font-size: 45px; */
/* margin-left: 90px; */
/* } */
